name: m

on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      # 【新增步骤】在这里动态修改 Dockerfile
      # 这行命令会将 Dockerfile 中的 "node:18-alpine" 替换为 "node:20-alpine"
      # 这只影响当前的构建过程，不会修改您仓库里的源代码
      - name: Upgrade Dockerfile base image to Node 20
        run: sed -i 's/node:18-alpine/node:20-alpine/g' Dockerfile

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
      - name: Set up QEMU  # 用于多平台编译
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build 和 push multi-arch Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: mimimimimimimiiii/kukugo:latest
